{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": ".js",
        "root": "./src",
        "alias": {
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
