:root {
  /* Fonts */
  --serif: 'Sentinel-Black', serif;
  --sans-serif: 'ProximaNova-Light', sans-serif;
  --ga-sans-serif: 'PF Din Text Comp Pro', sans-serif;
  --ga-serif: 'News706 BT', serif;

  /* Colours */
  --red: rgb(252, 29, 66);
  --white: rgb(248, 248, 248);
  --black: rgb(33, 33, 33);
  --background: rgb(248, 248, 248);
  --shade-white: rgb(204, 204, 204);
  --shade-black: rgb(86, 86, 86);
  --inline-code-grey: rgba(27, 31, 35, 0.05);
  --code-hightlight: rgba(68, 78, 88, 0.5);
}
